* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  max-height: 600px;
  min-width: 320px;
  min-height: 550px;
  font-family: "Lato";
}
.cofe_card {
  width: 100%;
  height: max-content;
  background-color: #fdde7e;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 79px 20px;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 90px;
  max-width: 360px;
}
h2 {
  color: #02995b;
  font-size: 55px;
  font-weight: bold;
}
img {
  width: 135px;
  height: 135px;
  padding: 10px;
}
h3 {
  font-size: 40px;
  padding: 25px 0;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 157px;
  flex-wrap: wrap;
}
.card:hover {
  transform: scale(1.2);
}
